
{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="hero">
    <div class="hero-left">
        <h1>Make Our Children <span>Sharp Again.</span> </h1>
        <p>At KinderLearn, we believe in making education fun and interactive. Our platform is designed to help children explore new concepts, develop essential skills, and grow with confidence through engaging lessons tailored to their unique needs.</p>
        <a href="">Enroll Now</a>
    </div>
    <div class="hero-right">
        <img src="{% static 'images/hero_image.jpg' %}" alt="">
    </div>
</div>

{% endblock content %}